
*{
	margin: 0;
	padding:0;
}
a{
	text-decoration:none;
}
.dec{
	text-align:center;
	margin: auto;
}
.header{

	background-color:black;
	text-align:center;
	padding-top:30px;
	padding-bottom:30px

}
.header ul li {
	list-style: none; 
	display:inline-block;
	margin:0 15px
}
.header ul li a{
	color:white;
	font size:22px
}
.header ul li a:hover{color: red;

}
.letstalk{
	background-color:#f5f5f5;
	padding-top:60px
	padding-bottom:70px;
}
.container{
	width:1140px;
	margin:auto;

}

.newsletter h1{color:black;
 font size:56px;
 text-align:center;

}
.input-1{width:28%;
	padding:5px;
}
.input-2{width:28%;
	padding:5px;
}
.input-3{
	width:40%;
	padding:5px;
	margin:5px;
}
.input-4{
	width:40%;
	padding:5px;
	margin:5px
}
.input-5{
	width:40%;
	padding:5px;
	margin:5px;
}
.input-6{
	width:40%;
	padding: 5px;
	margin: 5px;
}
.input-7{
	width: 80%;
	padding:11px; 
	 margin:15px;
	 height:120px
}
.input-8{
	width:20%;
	padding:4px;
	background-color:green;
	border:none;

}
.letstalk{
	background-color:#d2f6fe;
	padding-bottom:40px;
	margin-top:50px
}

.letstalk h1 {
font size:12px;
margin-bottom:20px;
text-align: center;
}

.footer{
	background-color: black;
	height: 500px;
	padding: 60px 0px;
}
.col h4{
	color: white;
	font-family: 'Roboto',sans-serif;
	margin-bottom: 20px;
}
.col .menu ul li a{
	color: #CECECE;
	font-family: poping,sans-serif;
	line-height: 24px;
	font-size: 16px

}

.footer-menu{
	display: flex;
    
justify-content:space-around;


} 

.footer-bottom ul li{
	list-style: none;
	display: inline-block;
	border-right: 2px solid #CECECE;
	padding-right: 10px;
	margin-right: 10px;



}

.footer-bottom ul li a{
	color: #CECECE;
	font-family:poping,sans-serif;
	line-height: 24px;
	font-size: 16px;
	

}

.footer-bottom p{
	color: #CECECE;
	font-family:poping,sans-serif;
	margin: 20px 0;
	font-size: 16px;
	}

hr{
	color: #CECECE;
	margin:40px 0;
}


.social-icon ul li{
	list-style: none;
	display: inline-block;
	margin: 0 20px;

}
.social-icon ul li a i{
	color: white;
	height: 40px;
    width: 40px;
    background: red;
    text-align: center;
    line-height: 40px;
    border-radius: 100px;
    border: 2px solid blue;
}

.social-icon ul li a i:hover{
	border: 2px solid white;
	transform: scale(1.3);
	transition: 0.5s ease-in-out;
}

